.contentContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.centeredPlaceholder {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
}

.sectionHero {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1080px;
    background-color: rgb(201, 201, 201);
    background-image: url("/images/hero.jpeg");
    background-size: cover;
    background-position: center;
}

.sectionHero .heroCenter {
    position: absolute;
    width: 100%;
    padding: 16px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.sectionHero .heroLogo {
    font-size: 48px;
    margin-top: 100px;
}

.sectionHero .heroLogo img {
    width: 360px;
}

.sectionHero .heroDescription {
    font-size: 20px;
}

.sectionHero .heroButtons {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100px;
    gap: 10px;
}

.sectionDescription {
    padding: 100px 0;
    color: #ffffff;
    background-color: #444444;
}

.sectionDescription iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.sectionDescription .sliderButtonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

section .contentContainer > .title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}

section .contentContainer > .descriptionContainer {
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
}

section .contentContainer > .descriptionContainer .description + .description {
    margin-top: 32px;
}

.sectionPurchase {
    padding: 100px 0;
    background-color: rgb(121, 101, 101);
}

.sectionPurchase .dlcSlider {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sectionPurchase .dlcSlide {
    position: relative;
    flex-basis: 550px;
}

.sectionPurchase .dlcImg {
    position: absolute;
    z-index: 2;
    left: 50px;
}

.sectionPurchase .dlcImg img {
    display: block;
    border-radius: 10px;
}

.sectionPurchase .dlcInfo {
    margin: 30px 0;
    padding: 20px 20px 20px 298px;
    border-radius: 20px;
    width: 100%;
    background-color: #ffffff;
}

.sectionPurchase .dlcInfo .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sectionNews {
    padding: 100px 0;
    background-color: rgb(89, 128, 69);
}

.sectionCredit {
    padding: 100px 0;
    position: relative;
    height: 200vh;
    min-height: 400px;
    max-height: 400px;
    background-color: #2b302f;
    background-image: url("/images/pixile.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.button, .prevButton, .nextButton {
    padding: 20px 80px 20px 80px; 
    border-radius: 50px;
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steam {
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #e6e6e6;
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.3s;
}
.steam:hover {
    background-color: #e6e6e6;
    color: #000000;
    border: solid 2px #e6e6e6;
}
.xbox {
    color: #ffffff;
    background-color: #0f780f;
    border: solid 2px #9fee9f;
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.3s;
}
.xbox:hover {
    background-color: #9fee9f;
    color: #000000;
    border: solid 2px #9fee9f;
}
.playstation {
    color: #ffffff;
    background-color: #002D8D;
    border: solid 2px #e1daff;
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.3s;
}
.playstation:hover {
    background-color: #e1daff;
    color: #000000;
    border: solid 2px #e1daff;
}
.nintendo {
    color: #ffffff;
    background-color: #df0011;
    border: solid 2px #ffbac0;
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.3s;
}
.nintendo:hover {
    background-color: #ffbac0;
    color: #000000;
    border: solid 2px #ffbac0;
}

.sliderWrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
}
.slider {
    position: relative;
    display: flex;
    width: calc(100% * 4 + 30px * 3);
    gap: 30px;
    transition: left 0.25s;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.sliderIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.indicator {
    z-index: 10;
    position: relative;
    background-color: white;
    width: 60px;
    height: 10px;
    margin: 0px 5px;
    transition: background-color 0.3s ease;
}
.indicator.active {
    background-color: black !important;
}


.prevButton {
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.2s;
}
.prevButton:hover {
    background-color: #ffffff;
    color: #000000;
}
.nextButton {
    transition:
        color 0.3s,
        background-color 0.3s,
        transform 0.2s;
}
.nextButton:hover {
    background-color: #ffffff;
    color: #000000;
}



.dlcSlider {
    display: flex;
}
.dlcSlide {
    /*background-color: white;*/
    width: 550px;
    /*height: 400px;*/
    height: 342px;
    display: flex;
}
.dlcInfo {
    font-size: 16px;
    font-weight: 100;
    color: #000000;
}


.newsPage {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #000000;
    height: auto;
    color: #ffffff;
}