.footer {
    background-color: #333;
    color: #b7b7b7;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    text-align: center;
  }
  
  .footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerContent p {
    margin: 0;
    font-size: 14px;
  }
  
  .socialIcons {
    margin-top: 10px;
  }
  
  .socialIcons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .socialIcons a:hover {
    color: #00aced; /* 소셜 아이콘 hover 색상 */
  }
  
  .footerLinks {
    display: flex;
    gap: 15px;
  }
  
  .footerLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footerLinks a:hover {
    text-decoration: underline;
  }
  