.communityBanner {
    height: 30vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0)),
                    url('/images/SAR_Background_1.jpg');
    background-size: cover;
    background-position: center;
}

.communityContainer {
    background-color: rgb(246, 165, 165);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.communityList {
    background-color: aliceblue;
    width: 60%;
    height: 95%;
}



@media (max-width: 768px) {
    .itemBack {
        flex-direction: column;
        justify-content: center;
    }
}
