#sectionMerch1 {
    padding: 100px 0;
    background-color: rgb(238, 226, 226);
    background-image: url('/images/SAR\ background\ 1.jpg');
}
#sectionMerch2 {
    padding: 100px 0;
    background-color: rgb(238, 226, 226);
    background-image: url('/images/SAR\ background\ 2.jpg');
}
#sectionMerch3 {
    padding: 100px 0;
    background-color: rgb(238, 226, 226);
    background-image: url('/images/SAR\ background\ 3.jpg');
}

.item-back {
    display: flex;
    justify-content: right;
}
.item-background {
    width: 300px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin : 10px;
}

button {
    font-family: inherit;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
}
