body {
    background-image: url(../../../public/images/hero.jpeg);
}

.loginContainer {
    margin-top: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.inputLogin .inputPassword {
    width: 100%;
}

.signinButton {
    font-family: inherit;
    background-color: #dd5c32;
    color: white;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
}
.signinButton:hover {
    cursor: pointer;
}