body {
    background-image: url(../../../public/images/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.loginBackground {
    display: grid;
    justify-content: right;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    opacity: 0.9;
    width: 50vw;
    height: 100vh;
    padding: 10px 0px 10px 0px;
}

.loginBox {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.loginHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loginImage {
    width: 100px;
    height: 100px;
    margin-top: 15%;
}

h1 {
    margin-top: 20%;
    align-items: center;
}

.inputId, .inputPassword {
    width: 100%;
    height: 50px;
    font-size: x-large;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #dd5c32;
    outline: none;
}

h2 {
    color: #dd5c32;
    margin-top: 30px;
}

.signinGoogle {
    font-family: inherit;
    font-size: x-large;
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    margin-top: 10%;
    border: none;
    border-radius: 30px;
    transition: 
        color 0.2s,
        background-color 0.2s,
        transform 0.2s
}
.signinGoogle:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: 2px solid black;
}
.signinGoogle1, .signinGoogle4 {
    color: #4285f4;
}
.signinGoogle2, .signinGoogle6 {
    color: #ea4335;
}
.signinGoogle3 {
    color: #fbbc05;
}
.signinGoogle5 {
    color: #34a853;
}


.signinButton {
    font-family: inherit;
    font-size: x-large;
    background-color: #dd5c32;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    transition: 
        color 0.2s,
        background-color 0.2s,
        transform 0.2s
}
.signinButton:hover {
    background-color: #FFFFFF;
    color: #dd5c32;
    cursor: pointer;
    border: 2px #dd5c32 solid;
}


.signupLink {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #dd5c32
}